p { 
    background-color: aquamarine;
    color: #FF2800
  }

 h1 {
    text-align: center; 
    color: blueviolet;
  }
header{
  text-align: center;
  color: darkgreen;
}
body {
  background-color:slategray
}
p a {
  background-color: chocolate;
}

ol{
  font-style: italic;
}
ul {
  font-variant-caps: small-caps;
}

ul li{
  color: #FF2800;
}